<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @delivery_address.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @delivery_address.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @delivery_address.postal_code %>
</p>

<p>
  <strong>Province:</strong>
  <%= @delivery_address.province %>
</p>

<%= link_to 'Edit', edit_delivery_address_path(@delivery_address) %> |
<%= link_to 'Back', delivery_addresses_path %>
